html,
body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  /* overflow-x: hidden; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ! RESPONSIVE */
/* ! NAVBAR */
.navbar-dark .navbar-nav .nav-link {
  color: #DDDDDD;
  font-weight: 300;
}

.navbar-dark .navbar-nav .nav-link.active {
  font-weight: 600;
  color: #DDDDDD;
  text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.25);
}

.navbar-brand {
  text-align: left;
  align-items: center;
  width: 250px;
  /* border: solid 2px white; */
}

.navbar-brand img {
  /* border: solid 2px white; */
  width: 70%;
  height: 70%;
  margin-top: 25px;
}

.navbar-toggler {
  padding: 0 0;
  border: none;
}

/* ! CAPTION */
.select-tournament {
  margin-top: 10px;
}

.select-tournament h6 {
  color: #828282;
}

.select-tournament h6::after {
  background-color: #828282;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
  left: 0.5em;
  margin-right: -50%;
}

/* ! MAIN CONTENT */
/*  -- SELECT GAME -- */
.col-lg-4 img {
  width: 70%;
  height: 40%;
  margin: 20px auto;
  display: block;
  filter: drop-shadow(0px 10px 20px #000000);
}

/* ! INFO */
.tag-line h1 {
  line-height: 60px;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: #DDDDDD;
  text-shadow: 0px 2px 40px rgba(255, 255, 255, 0.5);
}

.col-lg-7 .tag-line span {
  color: #FF5045;
}

.tag-line h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: #DDDDDD;
}

.btn,
.btn-primary {
  border: none;
}

.btn-primary {
  background: #477EFF;
  border-radius: 12px;
}

.btn {
  padding: .5em 2em;
  margin: 5px 0;
  border-radius: 12px;
}

.group-stage,
.ro-16,
.main-event {
  margin: 20px 0;
}

.group-stage h5,
.ro-16 h5,
.main-event h5 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: #DDDDDD;
}

.group-stage h4,
.ro-16 h4,
.main-event h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: #DDDDDD;
  text-shadow: 0px 2px 40px rgba(255, 255, 255, 0.5);
}

.group-stage h6,
.ro-16 h6,
.main-event h6 {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .18em;
  color: #43a5ff;
}

/* ! Modal */
.modal-content {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/bg-modal.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #DDDDDD;
  border-radius: 32px;
}

.modal-title {
  margin: 0 auto;
}

.modal-body {
  text-align: left;
}

.modal-body .container .info-list ul {
  line-height: 30px;
}

.modal-body .container .info-list ul li {
  margin-left: 40px;
  font-size: 18px;
}

.modal-body .container .info-list ul li h5 {
  font-weight: 400;
}

.modal-body .container .info-list ul h5 {
  font-weight: 600;
}

.modal-body .container .sub-title {
  margin: 20px 0;
}

/* ! Footer */
.row.main-footer {
  margin-top: 100px;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%), #0A0A0A;
}

.row.content-footer {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  width: 700px;
}

.row.content-footer span,
.row.content-footer p {
  font-size: 10px;
}

.row.content-footer span {
  color: #0041A3;
  font-weight: bold;
}

.row.content-footer p {
  color: #E2E2E2;
}

.col-md-4 img {
  margin: 5px auto;
}

/* ! DESKTOP */
@media (min-width: 992px) {
  .container {
    max-width: 1250px;
  }

  /* ! NAVBAR */
  .navbar-dark .navbar-nav .nav-link {
    margin: 0 30px;
  }

  .navbar-dark .navbar-nav .nav-link:last-of-type {
    margin-right: 0;
  }

  .navbar-dark .navbar-nav .nav-link:hover {
    color: #DDDDDD;
    text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.8);
  }

  .navbar-brand {
    width: auto;
  }

  /* ! CAPTION */
  .select-tournament {
    margin-top: 30px;
  }

  /* ! MAIN CONTENT */
  .row {
    display: flex;
    justify-content: space-between;
  }

  /* ! SELECT GAME */
  .col-lg-4 img {
    width: 85%;
    height: 40%;
    margin: 0;
  }

  .col-lg-4 img:hover {
    transform: scale(1.05);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  /* ! INFO */
  .col-lg-7 {
    text-align: right;
  }
}